.autor {
  box-shadow: 0px 4px 9px white;
  padding-top: 1rem;
}
.autor #img {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.autor #img img {
  width: 100%;
  height: 100%;
}
.autor #autor_name {
  text-align: center;
  font-size: 2rem;
  text-shadow: 1px 1px 4px #696969;
  padding: 1rem 0;
}
